.badge {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: var(--text-size-small);
	/* color: var(--color-background);
	background-color: var(--color-primary); */

	color: var(--color-primary);
	background-color: var(--color-secondary);
	/* border: 2px solid var(--color-primary); */
	border-radius: 16px;
	gap: 4px;
	padding: 4px 8px;
}
