.badge {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: var(--text-size-small);

	color: var(--md-on-tertiary);
	background-color: var(--md-tertiary);
	border-radius: 16px;
	gap: 4px;
	padding: 4px 8px;
}
