.container {
	display: flex;
	gap: 4px;
	width: fit-content;
}

.selectInput {
	width: 100%;
	padding: 8px 12px;
	border: 2px solid var(--md-surface-container);
	border-radius: 12px;
	gap: 4px;
	color: var(--color-text);
	background-color: var(--color-backround);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;

	&:hover {
		border: 2px solid var(--md-surface-variant);
	}
}

.selectInput:focus {
	outline: none;
	border-color: var(--md-primary);
	box-shadow: 0 0 0 1px var(--md-shadow);
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px;

	width: 97%;
	max-height: 50%;
	overflow-y: auto;
	margin-left: 1.5%;
	/* margin-top: 45px; */
	border: 2px solid var(--md-surface-container);
	border-radius: 12px;
	background-color: var(--md-surface);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.optionItem {
	padding: 8px 12px;
	cursor: pointer;
	color: var(--md-on-surface);
	border-radius: 8px;
}

.optionItem:hover {
	background-color: var(--md-surface-variant);
}

.optionItem.active {
	color: var(--md-on-primary);
	background-color: var(--md-primary);
}

.arrow {
	transition: transform 0.2s;
}

.arrowOpen {
	transform: rotate(90deg);
}

.placeholder {
	color: #999;
}
