.container {
	width: 100dvw;
	height: 100dvh;
	top: 0;
	left: 0;

	position: fixed;
	display: flex;
	flex-direction: column;

	background-color: var(--color-background-80);
}

.container[data-layout-position="top"] {
	justify-content: flex-start;
}

.container[data-layout-position="center"] {
	justify-content: center;
}

.container[data-layout-position="bottom"] {
	justify-content: flex-end;
}
